@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .game-grid {
    display: grid;
    grid-template-columns: 2fr repeat(9, 1fr) 2fr;
    grid-template-rows: 2fr repeat(9, 1fr) 2fr;
    gap: 2px;
  }
}
